<!DOCTYPE html>
<html>
  <head>
    <title> <%= @page_title %> </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="keywords" content= "<%= @seo_keywords %>" />

    <%= stylesheet_link_tag 'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

   
    <%= render "shared/blog_nav" %>

    <%= render "shared/blog_masthead" %>

      <!--- Start of blog header --->


      <!--- End of blog header --->

      <!--- Start of container and row elements --->
      <div class="container">
      <div class="row">
      <!--- End of container and row elements --->
    
    
            

            <%= yield %>

             <!-- start of sidebar -->
        <%= render 'shared/blog_sidebar' %>
        <!-- end of sidebar -->
        </div>
        <!-- start of footer -->

        <%= render "shared/blog_footer" %>

        <!-- end of footer -->

      <%= source_helper("application") %>
    
        
    </div>

  </body>
</html>